<h1>Welcome!</h1>

<p>
    <%= link_to 'Our customers', controller: 'customers' %>
</p>
<p>
    <%= link_to 'Our consultants', controller: 'consultants' %>
</p>

<p>
    <%= link_to 'Our projects', controller: 'projects' %>
</p>
