<h1>Projects</h1>
<p>
<% @projects.each do |p| %>
    <%= link_to p.name, customer_project_path({customer_id: p.customer.id, id: p.id}) %> 
    (<%= link_to p.customer.name, customer_path(p.customer.id) %> | <%= link_to p.consultant.full_name, consultant_path(p.consultant.id) %>)<br>
<% end %>
